*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --dark-grey: #101211;
    --grey: #cecece;
    --turqoise: #06cfcf; /* #7de917 */
    --black: #000;
    --white2: rgb(240, 238, 238);
    --white: #fff;
}

@font-face {
    font-family: 'SSProLight';
    src: url("../fonts/SourceSansPro/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: 'PDReg';
    src: url("../fonts/PlayfairDisplay/static/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: 'InterReg';
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: 'RobotoMonoReg';
    src: url("../fonts/RobotoMono/static/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: 'MontReg';
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'MontBold';
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}

/* Splash screen CSS */
.splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    /* background-color: var(--turqoise); */
    color: var(--white);
    font-family: 'InterReg';
    animation: ss-fadeOut 1s ease forwards;
    animation-delay: 2s;
}

@keyframes ss-fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.splash-screen-title {
    text-align: center;
    font-size: 40px;
}

.splash-screen-title > .dot {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
    animation: dot-animate 1s ease infinite;
}

@keyframes dot-animate {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.dot:nth-child(1) { animation-delay: 0s; }
.dot:nth-child(2) { animation-delay: 0.2s; }
.dot:nth-child(3) { animation-delay: 0.5s; }


/* Components CSS */
.page-section {
    width: 100%;
    height: auto;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-section {
    min-height: 100vh;
}

.page-section > .section-title {
    font-family: 'MontBold';
    font-size: 80px;
}

.section-subtitle {
    font-family: 'InterReg';
    font-size: 25px;
}


@media (max-width: 552px) {
    .page-section > .section-title { font-size: 40px; }
    .page-section > .section-subtitle { font-size: 22px; }
}

.section-img {
    width: 900px;
    height: auto;
    filter: grayscale(100%);
    transition: all 1s;
}

.section-img:hover {
    filter: none;
}

/* custom scrollbar CSS */
::-webkit-scrollbar {
    width: 19px;
    background-color: var(--white);
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #d6dee1;
}


/* APP LAYOUT */
.app {
    width: 100%;
    height: 100%;
    /* background-color: var(--dark-grey); */
    /* color: var(--white); */
    display: grid;
    font-family: 'InterReg';
    animation: app-fadeIn 2.5s;
}

@keyframes app-fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.background {
    /* width: 100%; */
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
}

.content {
    grid-row: 1;
    grid-column: 1;
    z-index: 1000;
}


/* Acutal content CSS */
.topnav {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'MontReg';
    font-size: 20px;
}

.topnav > a {
    text-decoration: none;
    color: var(--black);
}

.topnav > .topnav-menu {
    height: 80px;
    display: flex;
    align-items: center;
}

.topnav > .topnav-menu > a {
    position: relative;
    padding: 0 10px;
    text-decoration: none;
    font-family: 'MontReg';
    font-size: 18px;
    color: var(--black);
}

.topnav > .topnav-menu > a::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    margin: 0 10%;
    border-radius: 1px;
    bottom: 0;
    left: 0;
    top: 27px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    background-color: var(--black);
}

.topnav > .topnav-menu > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#intro {
    text-align: center;
}

#intro > .section-subtitle {
    width: 80%;
    margin: 10px 10%;
    text-align: center;
}

/* L4S section */
#l4s-proj-subtitle, #autofaq-proj-subtitle, #okane-proj-subtitle {
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'MontBold';
    /* font-family: 'InterBold'; */
    font-size: 18px;
}

#l4s-proj-title, #autofaq-proj-title, #okane-proj-title {
    font-size: 60px;
}

#autofaq-proj-subtitle, #autofaq-proj-title {
    text-align: right;
}

#autofaq-proj-img {
    float: right;
}