*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* color: #3a3a3a; */
    --dark-grey: #3a3a3a;
    --grey: rgba(255, 255, 255, 0.7);
    --turqoise: #0aca81;
    --black: #000;
    --white: #fff;
}

@font-face {
    font-family: 'SSProLight';
    src: url("../fonts/SourceSansPro/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: 'PDReg';
    src: url("../fonts/PlayfairDisplay/static/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: 'InterReg';
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterThin';
    src: url("../fonts/Inter/static/Inter-Thin.ttf");
}

/* Splash screen CSS */
.splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    font-family: 'InterReg';
}

.splash-screen-title {
    text-align: center;
    font-size: 40px;
    animation: sst-animate 1s ease;
}

@keyframes sst-animate {
    0% {transform: translateY(100px);}
    100% {transform: translateY(0);}
}

/* Portfolio Content CSS */
.app {
    width: 100%;
    /* height: 100%; */
    /* min-height: 100vh; */
    background-color: var(--black);
    color: var(--white);
}

#intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro > .app-title, .app-subtitle {
    width: 80%;
    font-family: 'InterReg';
}

#intro > .app-title {
    margin-bottom: 2.5vh;
    font-size: calc(35px + 2vw);
}

#intro > .app-title span {
    color: var(--turqoise);
}

#intro > .app-subtitle {
    font-weight: 500;
    font-size: calc(15px + 2vw);
    color: var(--grey);
}

.page-item {
    width: 100%;
    height: 100vh;
    background-color: #000;
}